body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  background: #111E67;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

canvas {
  border: 2px solid #333;
  background-color: #fff;
  max-width: 100%;
  height: auto;
}

.side-panel {
  margin-top: 10px;
}

#controls {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0;
}

#controls button {
  font-size: 2rem;
  padding: 10px 20px;
}

.popup {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: white;
  padding: 20px;
  border: 2px solid #444;
  z-index: 100;
}

.popup h2 {
  margin-bottom: 10px;
}

.popup.hidden {
  display: none;
}
